<div class="flex flex-col bg-[#2b2b2b] pb-5">
    <a href="https://barlak.com.tr" class="text-xl sm:text-2xl m-auto text-white pt-10 font-bold font-helvetica">BARLAK.COM.TR</a>
    <div class="flex flex-row m-auto my-3 sm:my-6 px-10 py-1 ">
        <a href="https://x.com/alibarlak_" class="flex items-center justify-center bg-[#5B8FB9] rounded-full h-[30px] w-[30px] sm:h-[40px] sm:w-[40px] sm:mx-3 mx-2">
            <i class="fa-brands fa-x-twitter text-xl sm:text-2xl"></i>
        </a>
        <a href="https://www.instagram.com/alirbarlak/" class="flex items-center justify-center bg-[#5B8FB9] rounded-full h-[30px] w-[30px] sm:h-[40px] sm:w-[40px] sm:mx-3 mx-2">
            <i class="fa-brands fa-instagram text-xl sm:text-2xl"></i>
        </a>
        <a href="https://github.com/mrBlitzman" class="flex items-center justify-center bg-[#5B8FB9] rounded-full h-[30px] w-[30px] sm:h-[40px] sm:w-[40px] sm:mx-3 mx-2">
            <i class="fa-brands fa-github text-xl sm:text-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/aliravzabarlak/" class="flex items-center justify-center bg-[#5B8FB9] rounded-full h-[30px] w-[30px] sm:h-[40px] sm:w-[40px] sm:mx-3 mx-2">
            <i class="fa-brands fa-linkedin text-xl sm:text-2xl"></i>
        </a>
        <a href="mailto:aliravzabarlak@gmail.com?subject=Subject&body=Write your message here." class="flex items-center justify-center bg-[#5B8FB9] rounded-full h-[30px] w-[30px] sm:h-[40px] sm:w-[40px] sm:mx-3 mx-2">
            <i class="fa-solid fa-envelope text-xl sm:text-2xl"></i>
        </a>
        <a href="https://discord.gg/82GmHFHrvk" class="flex items-center justify-center bg-[#5B8FB9] rounded-full h-[30px] w-[30px] sm:h-[40px] sm:w-[40px] sm:mx-3 mx-2">
            <i class="fa-brands fa-discord text-xl sm:text-2xl"></i>
        </a>
    </div>
    
    <div class="m-auto">
        <a href="/" class="text-xs sm:text-sm text-[#929493] sm:mx-5 mx-3">HOME</a>
        <a href="/portfolio" class="text-xs sm:text-sm text-[#929493] sm:mx-5 mx-3">PORTFOLIO</a>
        <a href="/bulletin" class="text-xs sm:text-sm text-[#929493] sm:mx-5 mx-3">OFFICIAL BULLETIN</a>
        <a href="/contact" class="text-xs sm:text-sm text-[#929493] sm:mx-5 mx-3">CONTACT</a>
    </div>
    <div class="flex flex-col sm:flex-row justify-center">
        <p class="text-center text-[#5B8FB9] text-xs mt-5 mb-[10px] sm:m-6">© 2024 Ali Ravza Barlak. All rights reserved.</p>
        <p class="flex flex-row text-center justify-center text-white text-xs sm:m-6">Are you admin? Log in from&nbsp;<a href="/login" class="text-[#5B8FB9] font-extrabold">here&nbsp;</a></p>
    </div>
</div>