<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barlak | <%= header %></title>
    <link rel="stylesheet" href="statics/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="statics/indexadditional.css" rel="stylesheet">
    <meta property="og:title" content="Barlak">
    <meta property="og:description" content="Ali R. Barlak's personal website">
    <meta property="og:image" content="https://www.barlak.com.tr/statics/img/siteicon.png">
    <meta property="og:url" content="https://www.barlak.com.tr">
    <link rel="icon" href="./statics/img/favicon.ico" type="image/x-icon">
</head>