<div class=" shadow-xl bg-[#2b2b2b] m-2 mt-10 rounded-2xl overflow-y-auto"> <!--Right-->
    <h1 class="text-center text-2xl font-bold text-[#5B8FB9] font-helvetica p-5">Official Bulletin</h1>

    <%- include('./allposts.ejs') %>
</div>
</div>
</body>
<script src="./statics/indexfunctions.js"></script> 
</html>