    <div id="sidebar" class="fixed h-full right-0 top-0 bg-[#2b2b2b] z-30 "> <!--Sidebar-->
        <ul class="mt-32">
            <a href="./portfolio"><li class="text-white m-2 mx-7 font-helvetica nav-link text-center hover:bg-[#404040] rounded-lg p-2">Portfolio</li></a>
            <a href="./bulletin"><li class="text-white m-2 mx-7 font-helvetica nav-link text-center hover:bg-[#404040] rounded-lg p-2">Official Bulletin</li></a>
            <a href="./contact"><li class="text-white m-2 mx-7 font-helvetica nav-link text-center hover:bg-[#404040] rounded-lg p-2">Contact</li></a>
            <a href="./"><li class="text-white m-2 mx-7 font-helvetica nav-link text-center hover:bg-[#404040] rounded-lg p-2">Home</li></a>
        </ul>
        
    </div> <!--Sidebar-->
    <div>
        <div class="flex flex-row pb-2 shadow-xl m-2 rounded-2xl border-[#ffffff]">  
            <div class="flex flex-row m-auto 2xl:ml-auto  ml-2 md:ml-10">
                <img class="rounded-full object-cover m-2 w-[70px] h-[70px] md:w-[90px] md:h-[90px] " src="./statics/img/profilepic.jpg" alt="Ali Ravza Barlak">
                <div class="flex flex-col my-auto ml-1">
                    <a href="./"><h1 class=" text-white text-m md:text-xl font-helvetica font-semibold">Ali Ravza Barlak</h1></a>
                    <div class="md:p-1 text-center">
                        <a target="_blank" href="https://www.instagram.com/alirbarlak/"><i class="bi bi-instagram text-pink-300 mx-[2px] md:mx-1 text-xs md:text-base"></i></a>
                        <a target="_blank" href="https://x.com/alibarlak_"><i class="bi bi-twitter text-blue-300 mx-[2px] md:mx-1 text-xs md:text-base"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/aliravzabarlak/"><i class="bi bi-linkedin text-green-300 mx-[2px] md:mx-1 text-xs md:text-base"></i></a>
                        <a target="_blank" href="https://discord.gg/82GmHFHrvk"><i class="bi bi-discord text-orange-300 mx-[2px] md:mx-1 text-xs md:text-base"></i></a>
                        <a target="_blank" href="https://github.com/mrBlitzman"><i class="bi bi-github text-purple-300 mx-[2px] md:mx-1 text-xs md:text-base"></i></a>
                    </div>
                </div>
            </div>
            <nav class="m-auto hidden 2xl:flex mr-48">
                <ul class="flex flex-row mt-3 ">
                    <li class="text-white m-2 mx-7 font-helvetica nav-link"><a href="/portfolio">Portfolio</a></li>
                    <li class="text-white m-2 mx-7 font-helvetica nav-link"><a href="/bulletin">Official Bulletin</a></li>
                    <li class="text-white m-2 mx-7 font-helvetica nav-link"><a href="/contact">Contact</a></li>
                    <li class="text-white m-2 mx-7 font-helvetica nav-link"><a href="/">Home</a></li>
                </ul>
            </nav>
            <button onclick="sidebarMenuClicked()" id="hamburgerMenu" class="m-7"><i class="bi bi-list text-white text-4xl flex 2xl:hidden relative z-40"></i></button> <!--HAMBURGER MENU-->
            

            </div>

    </div>