<%- include('./partials/head.ejs') %>
<body class="bg-[#202020]">
    <div>
        <img class="m-auto mt-24 w-72 " src="./statics/img/404.png">
        <p class="text-white text-center text-2xl font-helvetica font-semibold">Oops! This page couldn't found.</p>
        <p href="./" class="text-white text-center text-sm m-2"><a href="./" class="text-[#5B8FB9]">Click here</a> for go back homepage</p>
    </div>
</body>
</html>