<%- include('./partials/head.ejs') %>
<%- include('./partials/topbar.ejs') %>
<h1 class="text-2xl px-5 mt-10 mx-16 text-center pt-6 text-[#5B8FB9] font-helvetica font-semibold">Contact</h1>
<div class="m-10 rounded-xl shadow-lg bg-[#262626]">

    <div class="grid lg:grid-cols-5 justify-items-center p-0">
        <div class="flex flex-col m-6 transform scale-75 lg:scale-80"><!--Instagram-->
            <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                <path fill="#f48fb1" d="M21,46h15c5.5,0,10-4.5,10-10V21c0-5.5-4.5-10-10-10H21c-5.5,0-10,4.5-10,10v15C11,41.5,15.5,46,21,46z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M41.5,21.1v-4.6c0-5.5-4.5-10-10-10h-15c-5.5,0-10,4.5-10,10v3"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M6.5,25.6v5.9c0,5.5,4.5,10,10,10h15c5.5,0,10-4.5,10-10v-4.6"></path><path fill="none" stroke="#18193f" stroke-miterlimit="10" stroke-width="3" d="M24,15.5c-4.7,0-8.5,3.8-8.5,8.5s3.8,8.5,8.5,8.5s8.5-3.8,8.5-8.5S28.7,15.5,24,15.5z"></path><path fill="#18193f" d="M34,12c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S35.1,12,34,12z"></path>
            </svg>
            <div class="mx-auto text-white text-lg font-semibold">
                <a href="https://www.instagram.com/alirbarlak/">@alirbarlak</a>
            </div>
        </div>
        <div class="flex flex-col m-6 transform scale-75 lg:scale-80"> <!--LinkedLn-->
            <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                <path fill="#8ce7f2" d="M40,44H15c-2.2,0-4-1.8-4-4V15c0-2.2,1.8-4,4-4h25c2.2,0,4,1.8,4,4v25C44,42.2,42.2,44,40,44z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M40.5,31.7v4.8c0,2.2-1.8,4-4,4h-25c-2.2,0-4-1.8-4-4V24.9"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M7.5,19.2v-7.7c0-2.2,1.8-4,4-4h25c2.2,0,4,1.8,4,4v14"></path><circle cx="15.5" cy="15.5" r="2.5" fill="#18193f"></circle><path fill="#18193f" d="M17,35h-3c-0.6,0-1-0.4-1-1V21c0-0.6,0.4-1,1-1h3c0.6,0,1,0.4,1,1v13C18,34.6,17.6,35,17,35z"></path><path fill="#18193f" d="M29,20c-1.5,0-2.9,0.6-4,1.5V21c0-0.6-0.4-1-1-1h-3c-0.6,0-1,0.4-1,1v13c0,0.6,0.4,1,1,1h3c0.6,0,1-0.4,1-1	v-7.5c0-1.4,1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5V34c0,0.6,0.4,1,1,1h3c0.6,0,1-0.4,1-1v-8C35,22.7,32.3,20,29,20z"></path>
            </svg>
            <div class="mx-auto text-white text-lg font-semibold">
                <a href="https://tr.linkedin.com/in/ali-r-barlak-a391682b1">Ali R. Barlak</a>
            </div>
        </div>
        <div class="flex flex-col m-6 transform scale-75 lg:scale-80"><!--Github-->
            <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                <circle cx="28" cy="28" r="18" fill="#9fa8da"></circle><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M35.054,38.836	C31.97,41.137,28.144,42.5,24,42.5C13.783,42.5,5.5,34.217,5.5,24c0-2.917,0.675-5.676,1.878-8.13"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13.869,8.518	C16.779,6.61,20.26,5.5,24,5.5c10.217,0,18.5,8.283,18.5,18.5c0,2.941-0.686,5.721-1.907,8.19"></path><path fill="#18193f" d="M34,23c0-1.574-0.576-3.038-1.558-4.275c0.442-1.368,0.93-3.771-0.242-5.648	c-2.251,0-3.73,1.545-4.436,2.514C26.602,15.213,25.333,15,24,15s-2.602,0.213-3.764,0.591c-0.706-0.969-2.184-2.514-4.436-2.514	c-1.328,2.126-0.526,4.45-0.073,5.43C14.638,19.788,14,21.334,14,23c0,3.78,3.281,6.94,7.686,7.776	c-1.309,0.673-2.287,1.896-2.587,3.38h-1.315c-1.297,0-1.801-0.526-2.502-1.415c-0.692-0.889-1.437-1.488-2.331-1.736	c-0.482-0.051-0.806,0.316-0.386,0.641c1.419,0.966,1.516,2.548,2.085,3.583C15.168,36.161,16.229,37,17.429,37H19v5.942h10v-7.806	c0-1.908-1.098-3.544-2.686-4.36C30.719,29.94,34,26.78,34,23z"></path>
            </svg>
            <div class="mx-auto text-white text-lg font-semibold">
                <a href="https://www.github.com/mrBlitzman/">mrBlitzman</a>
            </div>
        </div>
        <div class="flex flex-col m-6 transform scale-75 lg:scale-80"><!--Email-->
            <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                <path fill="#8ce7f2" d="M38.182,44H17.818C14.605,44,12,41.395,12,38.182V17.818C12,14.605,14.605,12,17.818,12h20.364	C41.395,12,44,14.605,44,17.818v20.364C44,41.395,41.395,44,38.182,44z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M27.532,40.5H13.5c-3.314,0-6-2.686-6-6V21.809"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M7.5,16.064V13.5c0-3.314,2.686-6,6-6h21c3.314,0,6,2.686,6,6v21c0,3.314-2.686,6-6,6"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M23.383,31.516H13.5c-0.552,0-1-0.448-1-1V17.484c0-0.552,0.448-1,1-1h21c0.552,0,1,0.448,1,1v13.032c0,0.552-0.448,1-1,1h-4.862	H23.383z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M34.856,17.319l-9.022,7.347c-1.073,0.874-2.613,0.873-3.685-0.001l-4.381-3.573"></path><line x1="19.824" x2="13.144" y1="24" y2="30.681" fill="none" stroke="#18193f" stroke-miterlimit="10" stroke-width="3"></line><line x1="34.856" x2="28.166" y1="30.681" y2="24" fill="none" stroke="#18193f" stroke-miterlimit="10" stroke-width="3"></line>
            </svg>
            <div class="mx-auto text-white text-lg font-semibold flex flex-col">
                <a class="mx-auto" href="mailto:aliravzabarlak@gmail.com?subject=Subject&body=Write your message here.">aliravzabarlak@gmail.com</a>
                <a class="mx-auto" href="mailto:alrbbusiness@gmail.com?subject=Subject&body=Write your message here.">alrbbusiness@gmail.com</a>
            </div>
        </div>
        <div class="flex flex-col m-6 transform scale-75 lg:scale-80 md:col-span-1"><!--X-->
            <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 48 48">
                <path fill="#9fa8da" d="M40.121,44H15.879C13.737,44,12,42.263,12,40.121V15.879C12,13.737,13.737,12,15.879,12h24.242	C42.263,12,44,13.737,44,15.879v24.242C44,42.263,42.263,44,40.121,44z"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M40.5,31.5v5	c0,2.209-1.791,4-4,4h-25c-2.209,0-4-1.791-4-4V26"></path><path fill="none" stroke="#18193f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M7.5,18.064V11.5	c0-2.209,1.791-4,4-4h25c2.209,0,4,1.791,4,4v11.33"></path><path fill="#18193f" d="M34.257,34H27.82L13.829,14h6.437L34.257,34z M28.587,32.304h2.563L19.499,15.696h-2.563 L28.587,32.304z"></path><polygon fill="#18193f" points="15.866,34 23.069,25.656 22.127,24.407 13.823,34"></polygon><polygon fill="#18193f" points="24.45,21.721 25.355,23.01 33.136,14 31.136,14"></polygon>
            </svg>
            <div class="mx-auto text-white text-lg font-semibold">
                <a href="/">mrBlitzman</a>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
</body>
<script src="./statics/indexfunctions.js"></script> 
</html>