<%- include('./partials/head.ejs') %>
<body class="bg-[#202020] flex flex-col min-h-screen">
    <main class="flex-grow">
<%- include('./partials/topbar.ejs') %>
<%- include('./partials/loginform.ejs') %>
</main>
<%- include('./partials/footer.ejs') %>
</body>
<script src="./statics/indexfunctions.js"></script>
</html>