<%- include('./partials/head.ejs') %>
<%- include('./partials/topbar.ejs') %>
<div class=""></div>
<%- include('./partials/left.ejs') %>
</div>
<%- include('./partials/footer.ejs') %>
</body>
<script src="./statics/indexfunctions.js"></script> 
</html>